.start-page {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background-color: #000000;
}

.gradient {
    width: 100vw;
    height: 80px;
    background: linear-gradient(to bottom, black, #CEAD78);
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw !important;
    height: 100vh !important;
    object-fit: cover;
    z-index: -1;
    transform-origin: center center;
    opacity: 0.6;
}


.start-page-text {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
}
