.all {
    position: fixed;
    z-index: 4;
    bottom: 10%;
    left: 50%;
    right: 50%;
    font-size: small;
    width: 230px;
    transform: translate(-50%, -50%);
}

span {
    margin-right: 10px;
}
