@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');


.generalDiv {
    margin-left: 15px;
    color: #1D3557;
    font-weight: 100;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    justify-content: flex-start;
}

/*.placeInfo {*/

/*}*/

.imageDetail {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.nameDiv {
    margin-top: 20px;
    font-weight: 200;
}

.imageDiv {
    max-height: 400px;
    max-width: 600px;
    border-radius: 10px;
}

.head {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 30px;
    font-weight: 400;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}

.modalBody {
    display: flex;
    justify-content: center;
}

.rateBtn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.detailDiv {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 23px;
    font-weight: 100;
}

.stars {
    display: flex;
    justify-content: flex-start;
}