@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

.generalDiv {
    width: 50%;
    color: #1D3557;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

/*.placeInfo {*/

/*}*/

.imageDetail {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.nameDiv {
    margin-top: 20px;
    font-weight: 300;
    font-size: 25px;
}

.imageDiv {
    max-height: 400px;
    max-width: 600px;
    border-radius: 10px;
}

.head {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

/*.rating label:last-child {*/
/*    position: static;*/
/*}*/

/*.rating label:nth-child(1) {*/
/*    z-index: 5;*/
/*}*/

/*.rating label:nth-child(2) {*/
/*    z-index: 4;*/
/*}*/

/*.rating label:nth-child(3) {*/
/*    z-index: 3;*/
/*}*/

/*.rating label:nth-child(4) {*/
/*    z-index: 2;*/
/*}*/

/*.rating label:nth-child(5) {*/
/*    z-index: 1;*/
/*}*/

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}

.modalBody {
    width: 500px;
    display: flex;
    justify-content: center;
}

.rateBtn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.detailDiv {
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    font-weight: 100;
    width: 400px;
    margin-top: 20px;
}

.stars {
    display: flex;
    justify-content: flex-start;
    /*margin-top: 100px;*/
    font-family: 'Raleway', sans-serif;

}

.modalBodyMain {
    font-family: 'Raleway', sans-serif;
}

.comm {
    margin-left: 15px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    /*align-content: center;*/
}

.starStyle {
    display: flex;
    flex-direction: row;
    margin-right: 300px;
    align-content: center;
    color: #1D3557;

}

.starBorder {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

/*.starBorder {*/
/*    border: 1px solid grey;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/

.starAndComDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}