
.container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #22223b;
    position: absolute;
    width: 100vw;
    z-index: 10;
    opacity: 0.5;
}

.logo {
    flex: 2 150px
}

.container_links {
    display: flex;
    flex: 3 450px;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.simpleSelect {
    display: flex;
    flex: 400px;
    justify-content: flex-end;
    align-items: flex-end;
}



