
.container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*background: linear-gradient(#1D3557 80%,white);*/
    background-color: black;
    height: 80px;
    position: fixed;
    width: 100%;
    opacity:83%;
    
}

.logo {
    flex: 2 150px
}

.container_links {
    display: flex;
    flex: 3 450px;
    justify-content: space-around;
    flex-direction: row-reverse;
    
}

.simpleSelect {
    display: flex;
    flex: 400px;
    justify-content: flex-end;
    align-items: flex-end;
}

.container_links:hover {
  color: #000;
  background: #ff0059;
}



