@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,500;1,600&display=swap');
.card {
    size: 5px;
    margin: 10px;
    border: none;
    width: 300px;
    position: relative;
    font-family: 'Montserrat Alternates';
}

img {
    height: 250px;
    width: 280px;
    border-radius: 10px;
    border: none;
}

p {
    width: 230px;
    margin: 0;
}

.rating {
    display: flex;
}

.text-holder {
    display: flex;
    justify-content: space-between;
}

.place-name {
    max-width: 90%;
}

.star {
    width: 13px;
    height: 15px;
    position: relative;
    left: 1px;
    top: 1.2px
}

.rate {
    position: relative;
    right: 4px;
}

.text {
    padding: 0 10px 10px;
    opacity: 0.7;
}