.card {
    size: 5px;
    margin: 10px;
    border: none;
    width: 300px;
    position: relative;
}

.card-Img {
    height: 250px;
    width: 280px;
    border-radius: 10px;
    border: none;
}

p {
    width: 230px;
    margin: 0;
}

.rating {
    display: flex;
}

.text-holder {
    display: flex;
    justify-content: space-between;
}

.place-name {
    max-width: 90%;
}

.star {
    width: 13px;
    height: 15px;
    position: relative;
    left: 4px;
    top: 1.2px
}

.rate {

}