@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1d3557;
    border-radius: 10px;
    width: 70%;
}

.formData {
    font-family: 'Raleway', sans-serif;
    color: #1d3557;
    margin-top: 30px;
    width: 70%;
}

.head {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #1d3557;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.hours {
    width: 20%;
}

.hoursDiv {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.detDiv {
    width: 500px;
    margin-right: 10px;
    margin-bottom: auto;
    margin-left: 5px;
    padding: 10px;
}

.all {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.btn {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #457B9D;
    color: #F1FAEE;
}

.description {
    width: 400px;
    height: 90px;
}